<h2>Add new post</h2>
<p>
	<form action="/new" method="POST">
	 		<textarea name="content" class="form-control" rows="5" placeholder="Type post text here"></textarea>
	 	<br>

	 	<p>
		 	<h5>Enter your name:</h4>
		 	<input type="text" name="author">
	 	</p>
			<button type="submit" class="btn btn-primary">Yarrr</button>
	</form>
</p>